<!-- Projects-->
<section class="projects-section bg-light" id="hatha">
    <!-- Flecha -->
    <svg routerLink='/home' width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-arrow-left flechaList"
        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
    </svg>
    <!-- Flecha -->
    <div class="container">
        <!-- Featured Project Row-->
        <div class="row align-items-center no-gutters  ">
            <div class="col-xl-8 col-lg-7"><img class="img-fluid  mb-lg-0"
                    src="../../../../assets/img/catalogo-yoga/hatayoga.jpg" alt="" /></div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>Hatha yoga

                    </h4>
                    <p class="text-black-50 mb-0">
                        Es el origen de todos los tipos de yoga y su propósito es lograr la unión entre el cuerpo, la
                        mente y el espíritu, a través de asanas (porturas), pranayamas (ejercicios de respiración) y
                        Dhyana (meditación).
                        Es un tipo de yoga, lento y estático que busca equilibrar las energías (masculina y femenina) en
                        nuestro cuerpo y se centra en la concentración sobre la postura.
                        Beneficios:
                        A nivel físico el Hatha Yoga desarrolla y aumenta la flexibilidad y la fuerza en todo el cuerpo,
                        mejora la digestión y la circulación,
                        alivia el dolor y la tensión, tonifica la columna verteblral, desintoxica el cuerpo, apoya a la
                        pérdida de peso y mejora tu postura.
                        A nivel mental aporta mejorando la concentración y el enfoque, disminuye los niveles de estrés,
                        aumenta la inmunidad generando una sensación de bienestar, mejora tu memoria y crea balance en
                        los hemisferios cerebrales.


                    </p>
                </div>
            </div>
        </div>

    </div>
</section>