<div id="page-top" class="body">
    <div class="espacio"></div>
    <!-- Navigation-->
    <!--   <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" style="background-color: #92c7bcfb !important;">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Dana Yoga</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">Clases online</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#projects">Meditacion</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#signup">Contacto</a></li>
                </ul>
            </div>
        </div>
    </nav> -->
    <!-- Masthead-->
    <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="text-white-100 mx-auto my-0  ">Dana Yoga</h1>
                <h2 class="text-white-100 mx-auto mt-2 mb-5 font-weight-bold">Dar es lo que crea conexión, es lo que
                    forma comunidad.</h2>

                <!-- Signup-->


                <a class="btn btn-primary js-scroll-trigger" routerLink='/lessons'>Conócenos</a>
            </div>

        </div>

    </header>


    <!-- About-->
    <section class="about-section text-center">
        <p id="about" class="mt-5" style="opacity: 0.0;">s</p>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-white-40 mb-4" style=" font-family:Buda; "> Qué significa? Dana Yoga </h2>
                    <p class="text-white-40 text-dana">
                        Dana significa generosidad, dar. Es la cualidad del corazón que nos mueve a  compartir lo que
                        poseemos por el bienestar de los demás. El acto de dana es una expresión de amor, de Maitri, por
                        los demás. El dar en el Dharma no es una virtud moral a la que uno sigue o práctica para
                        cumplir. Es una practica espiritual o entrenamiento a través del cual, el que desea
                        desarrollarse espiritualmente, aprende a expresar su interés o compasión por el bienestar de los
                        demás, de ir mas allá del apego y el egocentrismo.

                    </p>
                    <p class=" text-dana">
                        El acto de dar ennoblece. La persona que da siempre se encontrará en la abundancia. Dar es lo
                        que crea conexión, es lo que forma comunidad. La sociedad se basa en esta capacidad de sus
                        miembros de ser generosos. Es la virtud por excelencia. Una sangha (comunidad) sin una práctica
                        de Dana (generosidad) no es una sangha.
                    </p>
                    <br>
                    <p class=" text-dana">
                        “Dana  o generosidad consiste no tanto en el acto de dar como en el sentimiento de querer dar,
                        de querer compartir lo que tienes con los demás. Este sentimiento de querer dar o compartir es
                        frecuentemente la primera manifestación de una vida espiritual.”

                    </p>

                    <p class=" text-dana" style="width:auto; text-align: right !important; ">Urgyen Sangharákshita</p>
                </div>
            </div>

            <img class="img-fluid segundoLogo" src="../../../assets/img/svg/loto3.svg" alt="" />
        </div>
    </section>

    <!-- about -->
    <!-- Project One Row-->
    <div class="container mb-5 mt-5">


        <div class="row justify-content-center no-gutters ">
            <div class="col-lg-6"><img class="img-fluid projectImg" src="../../../assets/img/orig/bio principal.jpeg"
                    alt="" /></div>
            <div class="col-lg-6">
                <div class="bg-light colorProject  text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text ml-4 mr-4 w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Quien soy </h4>
                            <p class=" text-white-80">Mi nombre es Diana Vázquez y comencé mi camino espiritual casi sin
                                estarlo buscando (al menos no consciente de ello), comence a practicar yoga en el 2014 y
                                desde esa primera clase me enamore de la práctica.
                                Continué practicando un par de años mas hasta que decidí que eso era lo que queria hacer
                                por el resto de mis dias, así que busque una formación para profesores.

                            </p>
                            <hr class="d-none d-lg-block mb-0 ml-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Two Row-->
        <div class="row justify-content-center no-gutters">
            <div class="col-lg-6"><img class="img-fluid " src="../../../assets/img/orig/zona (1).jpeg" alt="" /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-light colorProject text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text mr-4 ml-4 w-100 my-auto text-center text-lg-right">
                            <!-- <h4 class="text-white ">Al dia de hoy </h4> -->
                            <p class=" text-white-80">
                                Al dia de hoy me dedico a compartir mi conocimiento y mis experiencias siendo
                                instructora desde hace 3 años, ha sido un camino a veces turbulento, pero siempre
                                enriquecedor al final.
                                Imparto clases de hatha, vinyasa, yoga prenatal y post-natal, lo mas importante para mi
                                es crear un ambiente de confianza, donde las personas realmente puedan conectarse y
                                entonces despertar la consciencia para avanzar en su proceso personal.

                            </p>
                            <hr class="d-none d-lg-block mb-0 mr-0"  />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- about -->
    <p class="" id="servicios"  style="opacity: 0.0;">s</p>
    <!-- About2-->
    <div class="center  separadorid"> 
    <h2>Que ofrece</h2><h1> Dana Yoga?</h1>
    </div>
    <section class=" center " style="margin-top: 10% !important; margin-bottom: 20%;">
       
        <div class="card-list" style=" width: 90% !important;">
           
            <div class="row">
                <div class="col-md-3 cardfix2" >
                    <div [routerLink]="['/list','hatha']"  class="interCard"><img class="img-fluid cardfix mb-lg-0"
                            src="../../../assets/img/catalogo-yoga/hatayoga.jpg" alt="" />
                        <div class="txt-img">
                            <p class="txtp">Hatha yoga </p>
                        </div>
                    </div>
                </div>
               
                <div class="col-md-3 cardfix2" style="">
                    <div [routerLink]="['/list','vinyasa']" class="interCard"><img class="img-fluid cardfix mb-lg-0"
                            src="../../../assets/img/catalogo-yoga/Hathayoga real.jpg" alt="" />
                        <div class="txt-img">
                            <p class="txtp">Vinyasa Yoga </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 cardfix2" style="">
                    <div [routerLink]="['/list','meditacion']" class="interCard"><img class="img-fluid cardfix mb-lg-0"
                            src="../../../assets/img/catalogo-yoga/meditacion.jpg" alt="" />
                        <div class="txt-img">
                            <p class="txtp">Meditación </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 cardfix2" style="">
                    <div [routerLink]="['/list','postparto']" class="interCard"><img class="img-fluid cardfix mb-lg-0"
                            src="../../../assets/img/catalogo-yoga/baño.jpg" alt="" />
                        <div class="txt-img">
                            <p class="txtp">Baños postparto </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 cardfix2" style="">
                    <div [routerLink]="['/list','yoga-empresarial']" class="interCard"><img class="img-fluid cardfix mb-lg-0"
                            src="../../../assets/img/catalogo-yoga/yoga-empresa.jpg" alt="" />
                        <div class="txt-img">
                            <p class="txtp2">Yoga empresarial</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 cardfix2" style="">
                    <div [routerLink]="['/list','prenatal']" class="interCard"><img class="img-fluid cardfix mb-lg-0"
                            src="../../../assets/img/catalogo-yoga/Yoga-para-embarazada.jpg" alt="" />
                        <div class="txt-img">
                            <p class="txtp">Yoga Prenatal </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 cardfix2" style="">
                    <div [routerLink]="['/list','kids']" class="interCard"><img class="img-fluid cardfix mb-lg-0"
                            src="../../../assets/img/catalogo-yoga/yoga-para-niños-4-690x414.jpg" alt="" />
                        <div class="txt-img">
                            <p class="txtp">Yoga para niños </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 cardfix2" style="">
                    <div [routerLink]="['/list','posparto']" class="interCard"><img class="img-fluid cardfix mb-lg-0"
                            src="../../../assets/img/catalogo-yoga/yogaposnatal.jpg" alt="" />
                        <div class="txt-img">
                            <p class="txtp">Yoga Posparto </p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>


    <!-- Projects-->
  <!--   <section class="projects-section bg-light" id="projects">
        <div class="container">
           
            <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                <div class="col-xl-8 col-lg-7"><img class="img-fluid  mb-lg-0"
                        src="../../../assets/img/orig/meditacion.jpeg" alt="" /></div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4>Meditación 
                        </h4>
                        <p class="text-black-50 mb-0">
                            Es una práctica que ocurre en la mente, generando un silencio consciente en nuestro interior
                            el cual permite activar y magnificar los sentidos. Durante la meditación, el ruido mental
                            desaparece permitiendo que el “observador” surja y con el, nuevas perspectivas de nuestra
                            realidad que pudieran no haber sido observadas desde una mirada tradicional.

                        </p>
                    </div>
                </div>
            </div>
            <div id="clases">
                <p></p>
            </div>
        </div>
    </section> -->

    <!--  -->
    <div class="container mt-5 mb-5 center">
        <div class="row">
            <div class="col-md-4 tarjetasM align-items-center "> <img src="../../../assets/img/membresia/vivo.jpeg "
                    class="imgM img-fluid" alt="">
                <div class="textM">
                    <h2>
                        Clases Presenciales
                    </h2>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat non officia eligendi,
                        dignissimos impedit voluptatibus maxime quibusdam commodi atque aperiam unde error magni
                        officiis dicta quas delectus blanditiis inventore eum.
                    </p><!--  <button class="btn btn-primary ">Agendar</button> -->
                </div>
            </div>
            <div class="col-md-4 tarjetasM align-items-center"> <img
                    src="../../../assets/img/membresia/Yoga-online.jpg " class="imgM img-fluid" alt="">
                <div class="textM">
                    <h2>
                        Clases en vivo
                    </h2>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat non officia eligendi,
                        dignissimos impedit voluptatibus maxime quibusdam commodi atque aperiam unde error magni
                        officiis dicta quas delectus blanditiis inventore eum.
                    </p><!--  <button class="btn btn-primary ">Agendar</button> -->
                </div>
            </div>
            <div class="col-md-4 tarjetasM align-items-center"> <img
                    src="../../../assets/img/membresia/yoga-grabado.jpg " class="imgM img-fluid" alt="">
                <div class="textM">
                    <h2>
                        Clases grabadas
                    </h2>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat non officia eligendi,
                        dignissimos impedit voluptatibus maxime quibusdam commodi atque aperiam unde error magni
                        officiis dicta quas delectus blanditiis inventore eum.
                    </p><!--  <button class="btn btn-primary ">Agendar</button> -->
                </div>
            </div>
        </div>
    </div>

<app-blog></app-blog>
    <!--  -->

    <!-- Signup-->
    <!-- <section class="signup-section" id="signup">
        <div class="container">
            <div class="row">


                <div class="mx-auto text-center">
                    <h1 class="text-white-100 mx-auto my-0 mb-4 ">Pregunta por un tutor</h1>
                    <a class="btn btn-primary js-scroll-trigger" routerLink='/lessons'>Conócenos</a>
                </div>
            </div>
        </div>
    </section> -->
    <!-- Core theme JS-->
    <!--  <script src="../home/scripts.js"></script> -->
</div>