<!-- Projects-->
<section class="projects-section bg-light" id="hatha">
    <!-- Flecha -->
    <svg routerLink='/home' width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-arrow-left flechaList"
        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
    </svg>
    <!-- Flecha -->
    <div class="container">
        <!-- Featured Project Row-->
        <div class="row align-items-center no-gutters  ">
            <div class="col-xl-7 col-lg-7"><img class="img-fluid  mb-lg-0"
                    src="../../../../assets/img/catalogo-yoga/Hathayoga real.jpg" alt="" /></div>
            <div class="col-xl-5 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>Vinyasa Yoga</h4>
                    <p class="text-black-50 mb-0">
                        Podríamos decir que es una variante del yoga mucho más dinámica que encuentra su núcleo en el
                        movimiento junto con la coordinación de la respiración, es decir, que sincroniza el movimiento
                        con la respiración, ambos están íntimamente relacionados, de manera que cada postura da pie a la
                        siguiente. En este tipo de yoga las inhalaciones están relacionadas con las posturas que van
                        hacia arriba o hacia atrás, mientras que las exhalaciones se relacionan con las posturas que van
                        hacia adelante y hacia abajo.
                        Beneficios:
                        La relación entre la respiración y el movimiento permite la purificación interna, el vinyasa
                        genera calor interno, encendiendo el agni (fuego digestivo), el cual además se utiliza en la
                        digestión de las experiencias y sensaciones, si nuestro fuego es poderoso seremos capaces de
                        adaptarnos mejor a los desafíos de la vida, asi mismo a nivel físico optimiza la fuerza, la
                        resistencia y la flexibilidad, fortalece la musculatura, mejora el equilibrio, tonifica el
                        cuerpo. Mentalmente apoya a la gestión del estado emocional, la gestión del estrés y el manejo
                        de la concentración.



                    </p>
                </div>
            </div>
        </div>

    </div>
</section>