<!-- Projects-->
<section class="projects-section bg-light" id="hatha">
    <!-- Flecha -->
    <svg routerLink='/home' width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-arrow-left flechaList"
        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
    </svg>
    <!-- Flecha -->
    <div class="container">
        <!-- Featured Project Row-->
        <div class="row align-items-center no-gutters  ">
            <div class="col-xl-7 col-lg-7"><img class="img-fluid  mb-lg-0"
                    src="../../../../assets/img/catalogo-yoga/meditacion.jpg" alt="" /></div>
            <div class="col-xl-5 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>Meditacion

                    </h4>
                    <p class="text-black-50 mb-0">
                        Es una práctica que ocurre en la mente, generando un silencio consciente en nuestro interior el
                        cual permite activar
                        y magnificar los sentidos. Durante la meditación, el ruido mental desaparece permitiendo que el
                        “observador” surja y con el,
                        nuevas perspectivas de nuestra realidad que pudieran no haber sido observadas desde una mirada
                        tradicional.
                        Beneficios: 
                        Nos ayuda a establecer una conexión con nosotros mismos y de nuestro entorno, proporcionándonos
                        un sentido mas completo sobre quienes somos, para que vivimos, porque somos como somos, que
                        comportamientos de otro me detonan indicando lo que necesito sanar dentro de mi, lograr
                        identificar cual es el sentido mas profundo de aquello que realizo día con día. De la misma
                        manera apoya la auto-observación consciente para lograr integrar cualquier emoción que me
                        acompañe y de cierta manera lograr transmutarla o sanarla pero integrando, no evadiendo…


                    </p>
                </div>
            </div>
        </div>

    </div>
</section>