 <!-- Projects-->
 <section class="projects-section bg-light" id="projects">
    <div class="container">
        <!-- Featured Project Row-->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-8 col-lg-7"><img class="img-fluid  mb-lg-0"
                    src="../../../assets/img/orig/meditacion.jpeg" alt="" /></div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>Meditación 
                    </h4>
                    <p class="text-black-50 mb-0">
                        Es una práctica que ocurre en la mente, generando un silencio consciente en nuestro interior
                        el cual permite activar y magnificar los sentidos. Durante la meditación, el ruido mental
                        desaparece permitiendo que el “observador” surja y con el, nuevas perspectivas de nuestra
                        realidad que pudieran no haber sido observadas desde una mirada tradicional.

                    </p>
                </div>
            </div>
        </div>
        <div id="clases">
            <p></p>
        </div>
    </div>
</section>