

<app-hatha-yoga *ngIf="vista=='hatha'" ></app-hatha-yoga>

<app-vinyasa-yoga *ngIf="vista=='vinyasa'"></app-vinyasa-yoga>

<app-kids *ngIf="vista=='kids'"></app-kids>

<app-banos *ngIf="vista=='banos'"></app-banos>

<app-meditacion *ngIf="vista=='meditacion'"></app-meditacion>

<app-postparto *ngIf="vista=='posparto'"></app-postparto>

<app-prenatal *ngIf="vista=='prenatal'"></app-prenatal>

<app-yoga-empresarial *ngIf="vista=='yoga-empresarial'"></app-yoga-empresarial>




<section class=" center " style="margin-bottom: 20%;">
       
    <div class="card-list" style=" width: 90% !important;">
       
        <div class="row">
            <div class="col-md-3 cardfix2" >
                <div [routerLink]="['/list','hatha']"  class="interCard"><img class="img-fluid cardfix mb-lg-0"
                        src="../../../assets/img/catalogo-yoga/hatayoga.jpg" alt="" />
                    <div class="txt-img">
                        <p class="txtp">Hatha Yoga </p>
                    </div>
                </div>
            </div>
           
            <div class="col-md-3 cardfix2" style="">
                <div [routerLink]="['/list','vinyasa']" class="interCard"><img class="img-fluid cardfix mb-lg-0"
                        src="../../../assets/img/catalogo-yoga/Hathayoga real.jpg" alt="" />
                    <div class="txt-img">
                        <p class="txtp">Vinyasa Yoga </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 cardfix2" style="">
                <div [routerLink]="['/list','meditacion']" class="interCard"><img class="img-fluid cardfix mb-lg-0"
                        src="../../../assets/img/catalogo-yoga/meditacion.jpg" alt="" />
                    <div class="txt-img">
                        <p class="txtp">Meditación </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 cardfix2" style="">
                <div [routerLink]="['/list','banos']" class="interCard"><img class="img-fluid cardfix mb-lg-0"
                        src="../../../assets/img/catalogo-yoga/baño.jpg" alt="" />
                    <div class="txt-img">
                        <p class="txtp">Baños Posparto </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 cardfix2" style="">
                <div [routerLink]="['/list','yoga-empresarial']" class="interCard"><img class="img-fluid cardfix mb-lg-0"
                        src="../../../assets/img/catalogo-yoga/yoga-empresa.jpg" alt="" />
                    <div class="txt-img">
                        <p class="txtp2">Yoga Empresarial</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 cardfix2" style="">
                <div [routerLink]="['/list','prenatal']" class="interCard"><img class="img-fluid cardfix mb-lg-0"
                        src="../../../assets/img/catalogo-yoga/Yoga-para-embarazada.jpg" alt="" />
                    <div class="txt-img">
                        <p class="txtp">Yoga Prenatal </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 cardfix2" style="">
                <div [routerLink]="['/list','kids']" class="interCard"><img class="img-fluid cardfix mb-lg-0"
                        src="../../../assets/img/catalogo-yoga/yoga-para-niños-4-690x414.jpg" alt="" />
                    <div class="txt-img">
                        <p class="txtp">Yoga Para Niños </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 cardfix2" style="">
                <div [routerLink]="['/list','posparto']" class="interCard"><img class="img-fluid cardfix mb-lg-0"
                        src="../../../assets/img/catalogo-yoga/yogaposnatal.jpg" alt="" />
                    <div class="txt-img">
                        <p class="txtp">Yoga Posparto </p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>