<!-- Projects-->
<section class="projects-section bg-light" id="hatha">
    <!-- Flecha -->
    <svg routerLink='/home' width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-arrow-left flechaList"
        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
    </svg>
    <!-- Flecha -->
    <div class="container">
        <!-- Featured Project Row-->
        <div class="row align-items-center no-gutters  ">
            <div class="col-xl-7 col-lg-7"><img class="img-fluid  mb-lg-0"
                    src="../../../../assets/img/catalogo-yoga/Yoga-para-embarazada.jpg" alt="" /></div>
            <div class="col-xl-5 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>Yoga Prenatal</h4>
                    <p class="text-black-50 mb-0">
                        El verdadero sentido del yoga postparto es facilitar un espacio donde mamá pueda trabajar con
                        ella misma desde un aspecto espiritual, un espacio donde se entiende lo cansada que está y lo
                        difícil que puede ser la maternidad. Los ejercicios de gimnasia abdominal postparto
                        (hiporesivos) son una gran motivación para que una mujer que acaba de dar a luz no se olvide de
                        si misma, no abandone a su cuerpo y que vuelva a darse el cuidado necesario para regresar sus
                        músculos abdominales pero sobre todo, sus órganos a su lugar.
                        Hay un periodo de los 3 a los 8 meses después del nacimiento del bebé (puede comenzar a
                        practicar desde los 40 días siguientes, si tuvo un parto sano), dónde los ejercicios son
                        altamente efectivos y que pueden marcar por completo el camino para el rumbo del abdomen y el
                        perineo de la mamá.
                        Beneficios:
                        Recuperación de la flexibilidad del piso pélvico y de la diástasis abdominal.
                        Limpieza del estómago e hígado.
                        Elimina grasa del cinturón abdominal y alivia el estreñimiento
                        Incremento de la energía en general
                        Fortalece la resistencia pulmonar.


                    </p>
                </div>
            </div>
        </div>

    </div>
</section>
