.espacio{
  margin-top: 50px;
}
.footer {
  padding: 5rem 0;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-list {
  align-content: center;
  width: 100%;
  height: auto;
  background-color: #fff !important;
  display: flex;
}
.cardfix2 {
  background-color: #ffffff;


}
.cardfix {
  height: 230px;
  width: 100%;
  object-fit: cover;
  filter: brightness(80%);
  cursor: pointer;
  transition: 1s;
}

.cardfix:hover {
  height: 240px;
  width: 110%;
  filter: brightness(100%);
}
.interCard {
  margin: 1%;
  width: 97% !important;
  height: 235px;
  background-color: rgba(66, 94, 90, 0.075);
  /* border: 4px solid  rgba(66, 94, 90, 0.075);  */
  /*   background-color: #d8cd6c !important; */
  position: relative;
  display: flex;
/*   align-items: center;  */
}
.txt-img{
  font-weight: bold;
  color: #fafde7;
 text-shadow:2px 2px 3px #000000 ;
  position: absolute;
  top:75%;
  left:30%;
  cursor: pointer;


}

.txtp2{
 margin-left: -10% ;
}





.textM{
  /* font-weight: bold; */
  color: #282922;
 /* text-shadow:2px 2px 3px #ebebeb ;
  */
  cursor: pointer;
  font-weight:500 ;
}



.imgM{
  height: 230px;
  width: 100%;
  object-fit: cover;
  filter: brightness(80%);
  cursor: pointer;
  transition: 1s;
  margin-bottom: 10px;
}
.tarjetasM{
/*   border: 2px solid  rgb(8, 177, 154);  */

  height: 500px;
  font-family: "Buda";
 

}











@media screen and (max-width:1300px){
  .cardfix {
    /*   height: 500px ; */
    height: 190px;
    
  }
  
  .cardfix:hover {
    height: 200px;
  
  }
}
@media screen and (max-width:1050px){
  .cardfix {
    /*   height: 500px ; */
    height: 150px;
    
  }
  
  .cardfix:hover {
    height: 160px;
  
  }
}
@media screen and (max-width:769px){
  .cardfix {
    /*   height: 500px ; */
    height: 220px;
  }
  .cardfix:hover {
    height: 230px;
  
  }
  .interCard{
    width: 50%;
  }
}

.espacio{
    height: 80px;
}


  
.columnas{
    border: 2px solid  rgb(8, 177, 154); 

}  