<p class="espacio">lessons works!</p>
<div class="container">

    <!-- Card deck -->
  


        <!--  -->
<div class="container mt-5 mb-5 center">
    <div class="row">
        <div class="col-md-4 tarjetasM align-items-center "> <img src="../../../assets/img/membresia/vivo.jpeg " class="imgM img-fluid" alt=""><div class="textM"><h2>
            Clases Presenciales
        </h2>
        <p>
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat non officia eligendi, dignissimos impedit voluptatibus maxime quibusdam commodi atque aperiam unde error magni officiis dicta quas delectus blanditiis inventore eum.
        </p>
         <button class="btn btn-primary " routerLink='/lessons-form'>AgendarX</button></div></div>
        <div class="col-md-4 tarjetasM align-items-center"> <img src="../../../assets/img/membresia/Yoga-online.jpg " class="imgM img-fluid" alt=""><div class="textM"><h2>
Clases en vivo
        </h2>
        <p>
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat non officia eligendi, dignissimos impedit voluptatibus maxime quibusdam commodi atque aperiam unde error magni officiis dicta quas delectus blanditiis inventore eum.
        </p> 
        <button class="btn btn-primary ">Agendar</button></div></div>
        <div class="col-md-4 tarjetasM align-items-center"> <img src="../../../assets/img/membresia/yoga-grabado.jpg " class="imgM img-fluid" alt=""><div class="textM"><h2>
Clases grabadas
        </h2>
        <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat non officia eligendi, dignissimos impedit voluptatibus maxime quibusdam commodi atque aperiam unde error magni officiis dicta quas delectus blanditiis inventore eum.    
        </p> 
        <button class="btn btn-primary ">Agendar</button></div></div>
    </div>
</div>


<!--  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Core theme JS-->

</div>