<div id="page-top" class="body">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" style="background-color: #92c7bcfb !important;">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Dana Yoga</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">Qué es? Dana Yoga</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#servicios">Servicios</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#clases">Clases</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#projects">Tienda</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#projects">Blog</a></li>

                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#signup">Contacto</a></li>
                </ul>
            </div>
        </div>
    </nav>
